.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
}

.content {
  flex: 1;
  overflow-y: auto;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
